* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: auto;
}

.navbar {
    width: auto;
    position: sticky;
    background-color: darkgray;
    height: 80px;
    border-bottom: 12px solid cadetblue;
}

li {
    list-style-type: none;
    display: inline;
    padding: 12px;
}

.container {
    padding: 14px;
    float: right;
}

header {
    text-align: center;
}

#devroy-logo {
    width: 475px;
    height: 475px;
}

.contact-form {
    width: auto;
    height: 165px;
    padding: 15px;
    background-color: darkgrey;
    border-top: 5px solid cadetblue;
    text-align: center;
}

fieldset {
    margin: auto;
    padding: 12px;
    width: 500px;
    border-radius: 12px;
    border: 3px solid cadetblue;
}

footer {
    text-align: center;
    background-color: cadetblue;
    width: auto;
    height: 65px;
}

#devroy-footer {
    margin: auto;
    padding: 23px;
}